<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chens.exam.book.mapper.ExamPaperMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by AS createBy, update_by AS updateBy, create_time AS createTime, update_time AS updateTime, tenant_id AS tenantId, name, content, duration, total_point AS totalPoint, pass_point AS passPoint, summary, answer_sheet AS answerSheet, paper_type AS paperType
    </sql>


    <!-- 通过题目ID找试卷 -->
    <select id="getPapperListByQuestionId" parameterType="java.lang.String"  resultType="com.chens.exam.core.entity.book.ExamPaper">
        select tep.*
        from t_exam_paper tep,t_exampaper_question tepq
        where tep.id = tepq.exam_paper_id
        and tepq.question_id=#{questionId}
    </select>

</mapper>
